@layer base {
  :root {
    --color-primary-grenade: #ff3f1f;
    --color-secondary-warm-grey: #dcd5d7;
    --color-primary-cream: #f9f4ed;
    --color-primary-grey-900: #19191a;
    --color-primary-grey-600: #85888e;
    --color-primary-grey-700: #898989;
    --color-primary-grey-300: #c0c2c6;
    --color-primary-orange-500-transparent: #fc790dd9;
  }
}

@theme {
  --color-primary-grenade: #ff3f1f;
  --color-secondary-warm-grey: #dcd5d7;
  --color-primary-cream: #f9f4ed;
  --color-primary-grey-900: #19191a;
  --color-primary-grey-600: #85888e;
  --color-primary-grey-700: #898989;
  --color-primary-grey-300: #c0c2c6;
  --color-primary-orange-500-transparent: #fc790dd9;
}
