.why-choose-us-area {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.why-choose-us-area .align-items-center:hover .why-choose-us-img .front-img {
  top: 15px;
}

.why-choose-us-area .align-items-center:hover .why-choose-us-img .back-img {
  left: 30px;
}

.why-choose-us-img {
  margin-bottom: 35px;
  position: relative;
}

.why-choose-us-img .front-img {
  position: relative;
  z-index: 1;
  top: 35px;
  left: 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.why-choose-us-img .back-img {
  position: absolute;
  left: 15px;
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.why-choose-us-content .section-title {
  margin-bottom: 20px;
  text-align: left;
}

.why-choose-us-content .section-title h2 {
  margin-left: 0;
}

.why-choose-us-content .btn {
  margin-top: 20px;
}

/* .why-choose-inner-area {
    margin-top: 100px;
  } */

.why-choose-inner-area .section-title h2 {
  text-transform: initial;
  /* max-width: 660px; */
}

.why-choose-inner-area .single-box {
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, 0.06);
  padding: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.why-choose-inner-area .single-box .icon {
  font-size: 40px;
  color: #38d16a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.why-choose-inner-area .single-box h3 {
  font-size: 22px;
  /* margin-top: 15px;
    margin-bottom: 15px; */
}

.why-choose-inner-area .single-box:hover {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.why-choose-inner-area .single-box:hover .icon {
  color: #f54ea2;
}

.heading-divider {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
}

.heading-divider::before {
  content: "";
  position: absolute;
  display: block;
  width: 150px;
  height: 1px;
  background: #c0c2c6;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.heading-divider::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #122e5d;
  /* Change to match your design */
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
}

.booking-card {
  transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out,
    transform 0.4s ease-in-out;
  position: relative;
  border-radius: 14px;
  z-index: 1;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 14px;
}

.booking-card-icon {
  color: #fc790dd9 !important;
}

.bg-sidebar {
  background-color: #ffffff !important;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.05) !important;
  border-right: 1px solid #e0e0e0 !important;
}
