.link-primary {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 17px;
  color: #0d6efd;
}

.user-link-primary {
  color: #2e37a4;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 15px;
}

.popins-16-medium {
  font-family: 'Poppins' !important;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 125%;
}
