.radio-item {
  display: flex;
  align-items: center;
  position: relative;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item .radio-label {
  cursor: pointer;
  position: relative;
}

.radio-item .radio-label:before {
  content: ' ';
  display: inline-block;
  position: relative;
  top: 7px;
  /* margin: 0 5px 0 0; */
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #297189;
  background-color: transparent;
}

.radio-item input[type='radio']:checked + .radio-label:after {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 12px;
  left: 5px;
  content: ' ';
  display: block;
  background: #00c6b7;
}

.radio-item .refund-radio-label {
  cursor: pointer;
  position: relative;
}

.radio-item .refund-radio-label:before {
  content: ' ';
  display: inline-block;
  position: relative;
  top: 2px;
  /* margin: 0 5px 0 0; */
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #297189;
  background-color: transparent;
}

.radio-item input[type='radio']:checked + .refund-radio-label:after {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 12px;
  left: 5px;
  content: ' ';
  display: block;
  background: #00c6b7;
}
